.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.search-form__title{
  color:green;
  text-align: center;
}
.search-form__container{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 300px;
  border:1px solid black;
  padding: 5px;
  background: lightgray;
  margin: 0 auto;

  &-field{
    margin: 2px;
    padding: 5px;
    border:1px solid teal;
    border-radius: 5px;
    font-weight: bold;
    color:green;
  }
}
