.CardItem__container{
  border:2px solid black;
  background-color:antiquewhite;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px 9px 3px black;

  &-item {
    font-size: 20px;
    padding: 5px;
  }
}